// I gather this file is a starting point for the project.
@import "compass";

// Use this file to override 
@import "variables";

// Imports bootstrap
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

@import "helpers/bootstrap-helpers";

@import url(http://fonts.googleapis.com/css?family=Raleway:300,400);
@import url(http://fonts.googleapis.com/css?family=Varela);

@media only screen and (min-width: 768px) {
  .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
}

.about_index #main, .contact_index #main {
  width: 720px;
  margin: auto;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
  font-family: 'Varela', sans-serif;
}

.brand, h1, h2, .nav, .btn {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-weight: 300;
}

.nav, .btn {
  font-weight: 400;
}

h1 {
  text-transform:uppercase;
  font-size: 50px;
}

.row-fluid.spaced {
  margin-bottom: 20px;
}

img.pull-down {
  margin-top: 10px;
}

a {
  color: rgb(50,100,160);
}
