<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
  %h1 #{data.page.title || "Live Writing Series"}
  %p
    :markdown
      We’re turning writing into a performance. Over seven weeks, seven writers will spend a day in seven venues, taking requests from the public and writing live for your entertainment on the big screen. You can watch every keystroke as it happens here online – and you can commission your own piece through the site too.

      Each venue and writer will bring their own style to the Series. We’ll be staging events in the National Portrait Gallery, the Roundhouse, the Jewish Museum, Woolfson & Tay Bookshop, the Deptford Lounge and the Southbank Centre, with some of the most exciting poets, playwrights, novelists and wordsmiths in town.

      It’s performance. It’s literature. It’s improv. It’s a whole new artform – and it’s starting right here.

      **The first event sees David Varela writing at the National Portrait Gallery on Friday 25 October.**
  %p
    %a.btn.btn-primary.btn-large{:href => "http://100hours.tv/feedback"} What do you think?

  %p
    Sign up for email updates...
