.well
  %ul.nav.nav-list
    %li.nav-header
      Interviews
    %li{:class => data.page.author == "David Varela" ? 'active' : '' }
      %a(href="/interviews/david_varela")
        %i.icon.icon-calendar
        David Varela
    %li
      %i.icon.icon-calendar
      Gemma Seltzer

    %li
      %i.icon.icon-calendar
      Sarah Butler
    %li
      %i.icon.icon-calendar
      Jacob Sam-La Rose
    %li
      %i.icon.icon-calendar
      Molly Naylor
    %li
      %i.icon.icon-calendar
      David Baddiel? 
    %li
      %i.icon.icon-calendar
      Seventh Author 

