.well

  %img{ :src => "/img/logo_on_grey.jpg" }

  %ul.nav.nav-list
    %li.nav-header.hidden
      Interviews
    %li{:class => data.page.author == "David Varela" ? 'active' : '' }
      %a(href="#first")
        %i.icon.icon-user
        David Varela
    %li
      %a(href="#second")
        %i.icon.icon-user
        Gemma Seltzer

    %li
      %a(href="#third")
        %i.icon.icon-user
        Sarah Butler
    %li
      %a(href="#fourth")
        %i.icon.icon-user
        Jacob Sam-La Rose
    %li
      %a(href="#fifth")
        %i.icon.icon-user
        Molly Naylor
