.well

  %img{ :src => "/img/logo_on_grey.jpg" }

  %ul.nav.nav-list
    %li.nav-header
      Interviews
    %li{:class => data.page.author == "David Varela" ? 'active' : '' }
      %a(href="/interviews/david_varela")
        %i.icon.icon-user
        David Varela
    %li
      %i.icon.icon-user
      Gemma Seltzer

    %li
      %i.icon.icon-user
      Sarah Butler
    %li
      %i.icon.icon-user
      Jacob Sam-La Rose
    %li
      %i.icon.icon-user
      Molly Naylor
