.navbar.navbar-default.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand.hidden-desktop{ href: "/"}&nbsp;
      .nav-collapse.collapse
        %ul.nav
          %li{:class => data.page.name == 'index' ? 'active' : ''}
            %a(href="/") Home
          %li{:class => data.page.name == 'about' ? 'active' : ''}
            %a(href="/about") About
          %li{:class => data.page.name == 'interviews' ? 'active' : ''}
            %a(href="/interviews") Writers
          %li{:class => data.page.name == 'calendar' ? 'active' : ''}
            %a(href="/calendar") Events
          %li{:class => data.page.name == 'contact' ? 'active' : ''}
            %a(href="contact") Contact
