---
name: "about"
---

The following information applies to 100 Hours of Solitude, the original writing project that took place on this site in 2012.

What's this all about?

My name’s David Varela and I’m a writer. I’ve written films, plays, games, poems, global ad campaigns, and all sorts of other strange things – but now, for one week only, I’m taking requests. I’ll write what you tell me to. You can also watch my writing process in action – live, via webcam – and you’ll be able to see every keystroke as I type it on our website. For 100 hours, my every word is yours. I’m taking a vow of silence and I won’t have any private communications – no texts, no tweets, no emails. Every word is public domain. And everything I write is copyright-free.

What’s the good cause?

All this is to raise money for Arvon, who run residential creative writing weeks for schools and community groups and are building a collaborative writing platform for young people. You can see their work at http://arvonfoundation.org/

How exactly does it work?

Click the ‘Donate’ button, which will take you off to the JustGiving website, where you can donate money and leave me a note saying what you’d like me to write. I’m open to suggestions – make me an offer!

Where and when?

I’ll be at Arvon’s writing centre in Lumb Bank – former home of Ted Hughes, just down the road from Sylvia Plath’s final resting place. It’s an isolated farmhouse in Yorkshire, and when I’m up there (December 17th-22nd) it’s going to be cold and probably snowbound. It’s very likely that this whole thing will turn into an online recreation of The Shining.

Is there anything you won’t write?

As this is raising money for children’s writing development and literacy, I’m steering away from anything entirely depraved. No porn. Sorry. Also, I can’t write anything that will violate someone else’s copyright, so don’t ask me to type out War and Peace. Oh, and nothing libellous. That would be bad.

What if you have too many requests?

It would be a nice problem to have. I’m not planning to sleep much so I should be able to get through a lot of writing. If I do end up having to choose which requests to fulfil, priority will go to those who have made the largest donations – so be generous.

Will you write my company’s transmedia strategy?

In a word, yes. However, expect to pay the kind of rate you’d be charged by a business consultant. Just because this is for charity doesn’t mean you can get a cheap deal. And bear in mind that everything I write will be public, so non-disclosure agreements will be tricky.

What’s this ‘copyright-free’ malarkey?

Everything I write in this week will be released under a CC Zero licence. That means you can all copy it, remix it, and do whatever you like with it, and you won’t even need to credit me. I’m a firm believer in Creative Commons, so I’m putting it into action here. I’m also really hoping I don’t come up with a million-dollar idea this week by accident.

Do we get to see you naked?

No. There is a webcam, but it’s not in the bathroom. You might get some hot dressing gown action though.

Who built this amazing website?

This technical marvel was created by Alex Heeton and Riccardo Cambiassi – who offered their services entirely free of charge. If you ever see them, buy them a drink.

We’re using technology provided by Ustream and Pusher .
