---
name: "about"
---

:markdown
  The Live Writing Series is devised and produced by Gemma Seltzer and David Varela. Both of us shared an enthusiasm for writing in public and improvising with an audience, and we realised that other writers might enjoy the same thrill given the chance. 

  We also realised that many writers would consider this to be their worst nightmare. Authors have a reputation for being an insular lot – a reputation with some basis in truth – and the writing process is typically portrayed as a solitary person sitting silently in isolation for weeks at a time.

  But that’s changing. Writing is just as often a collaborative process and, with the advent of social media, writers and readers are coming closer together. It’s a dialogue. And that conversation can be a lot of fun.

  We’re using technology developed by Alex Heeton and Riccardo Cambiassi to show every keystroke of each writer, as it happens, live online. We’re deliberately putting poets, scriptwriters and novelists in busy public venues where they’ll come face to face with the people they’re writing for and about. 

  Readers will get chance to see the writer at work, and writers will enjoy the liberating – and perhaps forgotten – experience of creating something from nothing without it having to be perfect. The creative process is just as important as the product here. 

  We’re championing live writing as an artform, and we’re delighted so many partners have come onboard to support it: the Arts Council of England and the galleries, arts centres, bookshops and museums involved in the Series are showing that live writing can have a place in a wide range of venues for all kinds of audiences. 
  

