---
name: "calendar"
layout: "layouts/leftsidebar"
---

- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header
        Events
      %li
        %a(href="#first")
          %i.icon.icon-calendar
          25/10 National Portrait Gallery
      %li
        %a(href="#second")
          %i.icon.icon-calendar
          ??/?? Woolfson &amp; Tay
      %li
        %a(href="#third")
          %i.icon.icon-calendar
          ??/?? London
      %li
        %a(href="#fourth")
          %i.icon.icon-calendar
          13/11 Jewish Museum
      %li
        %a(href="#fifth")
          %i.icon.icon-calendar
          20/11 Deptford Lounge
      %li
        %a(href="#sixth")
          %i.icon.icon-calendar
          30/11 Roundhouse
      %li
        %a(href="#seventh")
          %i.icon.icon-calendar
          ??/?? Southbank Centre

%h2#first 25/10 with David Varela

%p.address
  National Portrait Gallery, St Martin's Pl, London WC2H 0HE

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#second ??/?? with Sarah Butler

%p.address
  Woolfson &amp; Tay Bookshop, 39 Bear Ln, London SE1 0UH

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#third ??/?? with Gemma Seltzer

%p.address
  Neverwhere X1 ZZZ, London

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#fourth 13/11 with David Baddiel

%p.address
  Jewish Museum, 129-131 Albert St, London, Greater London NW1 7NB

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#fifth 20/11 with Jacob Sam-La Rose

%p.address
  Deptford Lounge, 9 Giffin St, London Borough of Lewisham, London SE8

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#sixth 30/11 with Molly Naylor

%p.address
  Roundhouse, Chalk Farm Rd, London, Greater London NW1 8EH

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2#seventh ??/?? with Mr X

%p.address
  Southbank Centre, Belvedere Rd, London SE1 8XX

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
