---
name: "calendar"
layout: "layouts/leftsidebar"
---

- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header
        Events
      %li
        %a(href="#first")
          %i.icon.icon-calendar
          25/10 National Portrait Gallery
      %li
        %a(href="#second")
          %i.icon.icon-calendar
          1/11 Woolfson &amp; Tay
      %li
        %a(href="#third")
          %i.icon.icon-calendar
          7/11 London
      %li
        %a(href="#fourth")
          %i.icon.icon-calendar
          13/11 Jewish Museum
      %li
        %a(href="#fifth")
          %i.icon.icon-calendar
          20/11 Deptford Lounge
      %li
        %a(href="#sixth")
          %i.icon.icon-calendar
          30/11 Roundhouse
      %li
        %a(href="#seventh")
          %i.icon.icon-calendar
          ??/?? Southbank Centre

%h2#first 25 October, National Portrait Gallery

%p.address
  St Martin's Pl, London WC2H 0HE
%p.author
  David Varela

%p
  Part of the NPG Late Shift series, The Elizabethans Undressed is an evening of costume, lectures and performances focusing on the Elizabethan era. David Varela will be the ‘scribe in residence’ from 5-10pm, taking commissions from a modern generation of literary patrons.

%h2#second 1 November, Woolfson &amp; Tay Bookshop

%p.address
  39 Bear Ln, London SE1 0UH

%p.author
  Sarah Butler
%p
  Novelist Sarah Butler will spend the day in this quirky independent bookshop and café which offers a dynamic, creative, community space in Bankside.

%h2#third 7? November, London-wide

%p.address
  Neverwhere X1 ZZZ, London

%p.author
  Gemma Seltzer

%p
  Gemma Seltzer will be going mobile around London, writing live from a variety of locations in an online-only pop-up residency. Keep an eye out for her.

%h2#fourth 13 November, The Jewish Museum

%p.address
  129-131 Albert St, London, Greater London NW1 7NB
%p.author
  David Baddiel
%p
  The Museum houses a display of religious artifacts and a new exhibition on Jewish involvement in football. We’re yet to confirm the writer for this venue but it’s going to be someone great. Watch this space.

%h2#fifth 20 November, Deptfor Lounge

%p.address
  9 Giffin St, London Borough of Lewisham, London SE8
%p.author
  Jacob Sam-La Rose

%p
  Poet Jacob Sam-La Rose will be incorporating live writing into his workshop with the Podium Poets, a group of young writers from London. The event will take place in the multi-award-winning Deptford Lounge building, and is supported by literature development agency Spread the Word.

%h2#sixth 30 November, The Roundhouse

%p.address
  Roundhouse, Chalk Farm Rd, London, Greater London NW1 8EH
%p.author
  Molly Naylor

%p
  Molly Naylor will be in residence in this thriving cultural venue as part of the UK’s first spoken word festival, The Last Word, showcasing the talents of emerging and established performers.

%h2#seventh 4 December, Southbank Centre

%p.address
  Belvedere Rd, London SE1 8XX
%p.author
  TBC

%p
  As part of the Southbank Centre’s autumn literature programme, the writer (TBC) will exercise their writing talents in the Clore Ballroom of the Royal Festival Hall as well as in other corners of the building.
