---
name: "calendar"
layout: "layouts/leftsidebar"
---

- content_for :sidebar do
  .well

    %img{ :src => "/img/logo_on_grey.jpg" }

    %ul.nav.nav-list
      %li.nav-header
        Events
      %li
        %a(href="#first")
          %i.icon.icon-calendar
          25/10 
          %br
          National Portrait Gallery
      %li
        %a(href="#second")
          %i.icon.icon-calendar
          1/11
          %br
          Woolfson &amp; Tay
      %li
        %a(href="#third")
          %i.icon.icon-calendar
          7/11
          %br
          London
      %li
        %a(href="#fourth")
          %i.icon.icon-calendar
          13/11 
          %br
          Jewish Museum
      %li
        %a(href="#fifth")
          %i.icon.icon-calendar
          20/11
          %br
          Deptford Lounge
      %li
        %a(href="#sixth")
          %i.icon.icon-calendar
          30/11
          %br
          Roundhouse
      %li
        %a(href="#seventh")
          %i.icon.icon-calendar
          4/12
          %br
          Southbank Centre

%h2#first 25 October, National Portrait Gallery

%p.address
  %a{ target: "_bkank", href: "https://www.google.co.uk/maps/preview#!q=WC2H+0HE&data=!4m15!2m14!1m13!1s0x487604ce05fe5ea3%3A0x3b6784f0f3962a33!3m8!1m3!1d2270!2d-0.1284635!3d51.5091087!3m2!1i1168!2i702!4f13.1!4m2!3d51.5093974!4d-0.1284782"}
    St Martin's Pl, London WC2H 0HE
%p.author.hidden
  David Varela

%p
  Part of the NPG Late Shift series, The Elizabethans Undressed is an evening of costume, lectures and performances focusing on the Elizabethan era. David Varela will be the ‘scribe in residence’ from 5-10pm, taking commissions from a modern generation of literary patrons.

%h2#second 1 November, Woolfson &amp; Tay Bookshop

%p.address
  %a{  target: "_bkank", href: "https://www.google.co.uk/maps/preview#!q=SE1+0UH&data=!4m12!2m11!1m10!1s0x487604af6fd72d4b%3A0xca1b7c748373863b!3m8!1m3!1d158858!2d-0.1015987!3d51.5286416!3m2!1i1024!2i768!4f13.1" }
    39 Bear Lane, London SE1 0UH

%p.author.hidden
  Sarah Butler
%p
  Novelist Sarah Butler will spend the day in this quirky independent bookshop and café which offers a dynamic, creative, community space in Bankside.

%h2#third 7 November, London-wide

%p.address.hidden
  London

%p.author.hidden
  Gemma Seltzer

%p
  Gemma Seltzer will be going mobile around London, writing live from a variety of locations in an online-only pop-up residency. Keep an eye out for her.

%h2#fourth 13 November, The Jewish Museum

%p.address
  %a{  target: "_bkank", href: "https://www.google.co.uk/maps/preview#!q=NW1+7NB&data=!4m15!2m14!1m13!1s0x48761ae08c638c17%3A0x938c68ea1c6e29bc!3m8!1m3!1d2270!2d-0.1016433!3d51.5052439!3m2!1i1168!2i702!4f13.1!4m2!3d51.5371325!4d-0.1444712" }
    129-131 Albert Street, London NW1 7NB
%p.author.hidden
  David Baddiel
%p
  The Museum houses a display of religious artifacts and a new exhibition on Jewish involvement in football. We’re yet to confirm the writer for this venue but it’s going to be someone great. Watch this space.

%h2#fifth 20 November, Deptfor Lounge

%p.address
  %a{ target: "_bkank",  href: "https://www.google.co.uk/maps/preview#!q=SE8+4RJ&data=!4m15!2m14!1m13!1s0x487602f4b2fb4ad7%3A0x2c02597d4507adc6!3m8!1m3!1d2268!2d-0.1444861!3d51.5372509!3m2!1i1168!2i702!4f13.1!4m2!3d51.4774793!4d-0.023593" }
    9 Giffin Street, London SE8 4RJ
%p.author.hidden
  Jacob Sam-La Rose

%p
  Poet Jacob Sam-La Rose will be incorporating live writing into his workshop with the Podium Poets, a group of young writers from London. The event will take place in the multi-award-winning Deptford Lounge building, and is supported by literature development agency Spread the Word.

%h2#sixth 30 November, The Roundhouse

%p.address
  %a{ target: "_bkank",  href: "https://www.google.co.uk/maps/preview#!q=NW1+8EH&data=!4m15!2m14!1m13!1s0x48761ae5bda697f1%3A0xf564903f6e09c83!3m8!1m3!1d2271!2d-0.0235827!3d51.4778346!3m2!1i1168!2i702!4f13.1!4m2!3d51.5430406!4d-0.1513118" }
    Chalk Farm Road, London NW1 8EH 
%p.author.hidden
  Molly Naylor

%p
  Molly Naylor will be in residence in this thriving cultural venue as part of the UK’s first spoken word festival, The Last Word, showcasing the talents of emerging and established performers.

%h2#seventh 4 December, Southbank Centre

%p.address
  %a{ target: "_bkank",  href: "https://www.google.co.uk/maps/preview#!q=SE1+8XX&data=!4m15!2m14!1m13!1s0x487604b7dd7b9337%3A0xb78228d5af84191e!3m8!1m3!1d2268!2d-0.15126!3d51.5429397!3m2!1i1168!2i702!4f13.1!4m2!3d51.5057757!4d-0.1168251" }
    Belvedere Road, London SE1 8XX
%p.author.hidden
  TBC

%p
  As part of the Southbank Centre’s autumn literature programme, the writer (TBC) will exercise their writing talents in the Clore Ballroom of the Royal Festival Hall as well as in other corners of the building.
