---
name: contact
---
:markdown
  Want to get in touch? [Send us a mail](mailto:info@livewritingseries.com) and we’ll get right back to you.

  Alternatively, you can [sign up to our mailing list](/) for regular updates on the whole Live Writing Series.
   
