---
name: contact
layout: "layouts/leftsidebar"
---
- content_for :sidebar do
  .well

    %img{ :src => "/img/logo_on_grey.jpg" }
    .subscribe{ style: "margin-top: 25px" }
      %form#subscribe-form{ action: "/subscribe", method: "post" }

        .row-fluid{style: "text-align: center"}
          %label{ for: "email" }Keep me informed:
          .input-append
            %input#email.span9{ type: "text", name: "email", placeholder:"me@example.org" }
            %button.btn{ type: "button"}Go!

.row-fluid{ style: "margin-top: 25px" }
  %p
    Want to get in touch?
    %a{ href: "mailto:info@chaoscafe.co.uk" }Send us a mail
    and we’ll get right back to you.

  %p
    Alternatively, you can
    %a{ href: "javascript:$('input#email').focus()" }sign up to our mailing list
    for regular updates on the whole Live Writing Series.
   
