---
name: "feedback"
---

Send me a message

I won’t be able to reply privately while I am writing, but I’ll read your message and will respond live on the site if appropriate.

If you’re a member of the press, we could even run an interview on the site.
