---
title: "Live Writing Series"
name: "index"
---
- content_for :head do
  :javascript
    // do stuff

.well
  .row-fluid
    .span3{ style: "text-align: center" }
      %img{ :src => "/img/logo2.png" }
    .span9{ style: "margin-top: 75px" }

      :markdown
        What happens when you take the process of writing and turn it into a performance? 

        When writers react, compose and immerse themselves in public places, bringing it alive with the real-time broadcast of their work for all to see?

        We’re about to find out.

        This autumn, seven of the most exciting wordsmiths, poets, scriptwriters and novelists in town will be housed in seven locations across London.

        You can catch every keystroke, dramatic pause and perfectly crafted sentence as it happens here online. You'll also have the chance to make requests and suggest ideas that may become part of the live piece.

        Events will be held in venues all across London, with the Deptford Lounge, Jewish Museum, National Portrait Gallery, Roundhouse, Southbank Centre along with Woolfson and Tay each opening their doors to one courageous writer.

        It’s literature. It’s improv. It’s the Live Writing Series.

        **The first event sees David Varela writing at the National Portrait Gallery on Friday 25 October**
