---
name: "interviews"
layout: "layouts/leftsidebar"
---

- content_for :sidebar do
  = render_partial "partials/_interviews_sidebar"

.row-fluid.spaced#first
  .span2
    %img.pull-down.img-polaroid{ src: "/img/writers/david_varela.jpg"}
  .span10
    %h2
      %a{ href: "/interviews/david_varela"}David Varela

    David is a writer and producer working in a huge range of media, including theatre, radio, film, games and interactive drama. He started writing live online in 2012, when he spent 100 hours taking commissions in Ted Hughes’ old house for a fundraising project called 100 Hours of Solitude. The tech for that project – developed by Riccardo Cambiassi and Alex Heeton – now forms the basis of the Live Writing Series site. www.davidvarela.com

.row-fluid.spaced#second
  .span2
    %img.pull-down.img-polaroid{ src:"/img/writers/gemma_seltzer.jpg"}
  .span10
    %h2.media-heading Gemma Seltzer

    Gemma is a writer working online, live and in print. Her digital writing projects include The View from Here, original stories produced live; 5am London, a fictional blog; and Look up at the Sky, which charted the peaceful parts of the city through walking and writing. Gemma is the author of blog-to-book Speak to Strangers, 100 stories of a hundred words about random conversations with Londoners (Penned in the Margins, 2011). She has presented her work on BBC radio, at Latitude festival and the Venice Biennale. Gemma was writer in residence for the Olympic torch relay in Devon. www.gemmaseltzer.co.uk

.row-fluid.spaced#third
  .span2
    %img.pull-down.img-polaroid{ src: "/img/writers/sarah_butler.jpg"}
  .span10
    %h2 Sarah Butler

    %p
      Sarah is an author and literary consultant. Her debut novel Ten Things I’ve Learnt About Love is published by Picador in the UK, Penguin Press in the US, and in 14 other countries around the world.  She has been a writer in residence for Great Ormond Street and on the Central Line, and she runs UrbanWords which manages literature-based projects that engage with the process of regeneration. www.urbanwords.org.uk

.row-fluid.spaced#fourth
  .span2
    %img.pull-down.img-polaroid{ src: "/img/writers/jacob_sam-la_rose.jpg" }
  .span10
    %h2 Jacob Sam-La Rose

    %p
      Jacob is a published poet; he devises and facilitates projects for schools and other institutions, emerging poets, teachers, literature professionals and other creatives; and he’s a geek for web technology and productivity. www.jsamlarose.com

.row-fluid#fifth
  .span2
    %img.pull-down.img-polaroid{ src: "/img/writers/molly_naylor.jpg" }
  .span10
    %h2 Molly Naylor

    %p
      Molly is a poet and scriptwriter whose first solo show, Whenever I Get Blown Up I Think Of You debuted at the Edinburgh Festival Fringe in 2010 before touring internationally. Her second live show My Robot Heart was a collaboration with band The Middle Ones and was supported by Battersea Arts Centre, Bristol Old Vic, The Junction Cambridge and Escalator. She devised and delivered interactive storytelling project Made Up in collaboration with Byron Vincent. www.mollynaylor.com
